/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header do index */
header {
    height: 180px;
    background-color: #be7171;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

header h3 {
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex; 
    justify-content: center;
}

header nav li {
    margin: 10px;
    border: 1px solid #dfcccc;
    padding: 10px;
    border-radius: 5px;
}

/* Submenu para Admin */
header nav ul li:first-child {
    position: relative;
}

header nav ul li:first-child ul {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(231, 214, 214, 0.3);
    z-index: 1;
}

header nav ul li:first-child:hover ul {
    display: block;
}

/* Estilo para o main do index*/
main {
    flex: 2; /* Ocupa o espaço restante */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 95%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
}

.text {
    flex: 1;
}
/* Estilo para o main da descrição*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Cria duas colunas de tamanho igual */
    gap: 20px; /* Espaçamento entre as colunas e linhas */
}
  
.grid-item {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaçamento entre a imagem e o texto */
}
  
.grid-item img {
    width: 30px; /* Ajusta o tamanho da imagem */
}

/* Estilos para o footer do index*/
footer {
    height: 200px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cont div, .cont img {
    margin: 50px; 
}
/*Estilo para o main da página de cadastro */
main .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
  
h1 {
    text-align: center;
}
  
.form-group {
    margin-bottom: 15px;
}
  
label {
    display: block;
    font-weight: bold;
}
  
input[type="text"],
input[type="number"],
textarea {
    width: 100%; /* Garante que ocupem toda a largura do container */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
input[type="number"] {
    min-width: 400px; /* Define uma largura mínima para os inputs numéricos */
}
  
textarea {
    height: 100px;
}
  
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilos específicos para os elementos */
h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
}

img {
    border-radius: 5px;
}

/*Rodapé pagina descrição*/
footer .rodape2 {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
footer .rodape2 div {
    text-align: left;
    margin-right: 450px; 
}
